@media only screen and (max-width: 1000px) {

    /* Force table to not be like tables anymore */
    .fully-responsive-table table,
    .fully-responsive-table thead,
    .fully-responsive-table tbody,
    .fully-responsive-table th,
    .fully-responsive-table td,
    .fully-responsive-table tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .fully-responsive-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .fully-responsive-table tr { border: 1px solid #ccc; }

    .fully-responsive-table td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }
    /* quickfix as the "class" way above doesn't work */
    #fully-responsive-table td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    .fully-responsive-table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    .fully-responsive-table td:before { content: attr(data-title); }
}
